{% extends "base.html" %}
{% import "macro/translations.html" as translations %}

{% block main_css %}
  <link rel="stylesheet" href="{{ MAIN_SITEURL }}/theme/css/articlePage.css" type="text/css"/>
{% endblock %}

{% block content %}
  <div class="articleOuter">
    <article class="article">
      <header>
        <div class="article__topMeta">
          <time class="article__publicationDate" datetime="{{ article.date.isoformat() }}">
            {{ article.locale_date }}
          </time>
          {{ translations.main_to_secondary_lang(article, class="article__translationLink") }}
        </div>
        <h1 class="article__title">{{ article.title }}</h1>
      </header>
      <div class="article__content">{{ article.content }}</div>
      <footer>
        <!-- List of used sources -->
        {% if article.sources %}
          <h2>Used sources</h2>
          <ul class="article__sourcesList">
            <li><a href="https://example.com/1">First Source URL address</a></li>
            <li><a href="https://example.com/2">Second Source URL address</a></li>
          </ul>
        {% endif %}
        <!-- List of tags -->
        {% if article.tags %}
          <ul class="tags">
            {% for tag in article.tags %}
              <li class="tags__tagItem"><a class="tags__tagLink" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}

        <!-- Sharing buttons -->
      </footer>
    </article>
  </div>
  <aside class="relatedArticles {% if article.related_posts|length < 4 %}relatedArticles--compact"{% endif %}>
    <div class="grid grid--container">
      <div class="row">
        {% if article.related_posts|length == 2 %}
          {% set col_lg = 6 %}
          {% set col_md = 6 %}
        {% elif article.related_posts|length % 3 == 0 %}
          {% set col_lg = 4 %}
          {% set col_md = 4 %}
        {% else %}
          {% set col_lg = 3 %}
          {% set col_md = 6 %}
        {% endif %}
        {% for article in article.related_posts %}
          <div class="col col--lg-{{ col_lg }} col--sm-flex col--xs-12 col--md-{{ col_md }}">
            {% with extra_classes = "articlePreview--shadow-1 articlePreview--noBottomMargin" %}
              {% include 'includes/article_preview.html' with context %}
            {% endwith %}
          </div>
        {% endfor %}
      </div>
    </div>
  </aside>
  <aside class="afterArticle">
    <div id="commento" class="comments"></div>
  </aside>
  {% if article.related_posts %}
  {% endif %}
{% endblock %}