<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}"
        {% if USE_OPEN_GRAPH %}
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml" {% endif %}>
<head>
    <meta name="google-site-verification" content="MCYojhllkhQDMPQHzPXIj1SgY7u8hFLMlQVy5L4nBbo"/>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if 'liquid_tags.notebook' in PLUGINS %}
        {% include 'includes/liquid_tags_nb_header.html' %}
    {% endif %}
    {% include "includes/favicon.html" %}
    {% block canonical_rel %}{% endblock %}

    <meta name="author" content="{{ AUTHOR }}"/>
    {% block meta %}{% endblock %}

    {# Open Graph tags #}
    {% if USE_OPEN_GRAPH is not defined %}
        {% set USE_OPEN_GRAPH = True %}
    {% endif %}
    {% if USE_OPEN_GRAPH %}
        {% block opengraph %}
            <!-- Open Graph tags -->
            {% if OPEN_GRAPH_FB_APP_ID %}
                <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
            {% endif %}
            <meta property="og:site_name" content="{{ SITENAME }}"/>
            <meta property="og:type" content="website"/>
            <meta property="og:title" content="{{ SITENAME }}"/>
            <meta property="og:url" content="{{ MAIN_SITEURL }}"/>
            <meta property="og:description" content="{{ SITENAME }}"/>
            {% if OPEN_GRAPH_IMAGE %}
                <meta property="og:image"
                      content="{{ MAIN_SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
            {% endif %}
        {% endblock %}
    {% endif %}

    {# Twitter Cards tags #}
    {% include 'includes/twitter_cards.html' %}

    <link rel="stylesheet" href="{{ MAIN_SITEURL }}/theme/css/style.css" type="text/css"/>
    {% if FEED_ALL_ATOM %}
        <link href="{{ MAIN_SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} ATOM Feed"/>
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ MAIN_SITEURL }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
              title="{{ SITENAME }} RSS Feed"/>
    {% endif %}
</head>
<body class="{% if article %}article{% endif %}">

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ MAIN_SITEURL }}/" class="navbar-brand">
                {% if SITELOGO %}<img src="{{ MAIN_SITEURL }}/{{ SITELOGO }}" width="{{ SITELOGO_SIZE }}"/> {% endif %}
                {% if not HIDE_SITENAME %}{{ SITENAME }}{% endif %}
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}

                {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                        <li {% if cat== category %}class="active" {% endif %}>
                            <a href="{{ MAIN_SITEURL }}/{{ cat.url }}">{{ cat | capitalize }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in PAGES %}
                        <li {% if p == page %} class="active" {% endif %}>
                            <a href="{{ SITEURL }}/{{ p.url }}">
                                {{ p.menulabel|default(p.title) }}</a></li>
                    {% endfor %}
                {% endif %}
                <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">
                    {% trans %}Архіви{% endtrans %}</a>
                </li>
                {% if lang_siteurls %}
                    {% import 'includes/translations.html' as translations with context %}
                    {% for lang, url in lang_siteurls.items() %}
                        <li{% if lang == DEFAULT_LANG %} class="active"{% endif %}>
                            {% if article %}
                                {% set slug = translations.url_if_translated(article) %}
                            {% elif category %}
                                {% set slug = translations.url_if_translated(category) %}
                            {% elif page %}
                                {% set slug = translations.url_if_translated(page) %}
                            {% elif tag %}
                                {% set slug = translations.url_if_translated(tag) %}
                            {% endif %}
                            <a href="{{ url }}/{{ slug }}">{{ lang }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
{% block header %}
{% endblock %}
<div class="container">
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% block after_contnet %}{% endblock %}

{% if page or article %}
    {% include 'includes/disqus_script.html' %}
{% endif %}
{% include 'includes/footer.html' %}
{% include 'includes/ga.html' %}

{% block scripts %}{% endblock %}

{# Unimportant css files placed here to speedup page loading #}

<link rel="stylesheet" href="{{ MAIN_SITEURL }}/theme/css/fonts.css" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<link href="{{ MAIN_SITEURL }}/theme/css/pygments/{{ PYGMENTS_STYLE|default('solarizeddark') }}.css" rel="stylesheet">

<script src="{{ MAIN_SITEURL }}/theme/js/main.js" async></script>
</body>
</html>
