<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}"
    {% if USE_OPEN_GRAPH %}
      prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml"
    {% endif %}>
<head>
  {% if  GOOGLE_SITE_VERIFICATION %}
    <meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION }}"/>
  {% endif %}
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <!-- Using the latest rendering mode for IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block canonical_rel %}{% endblock %}
  {% include "includes/favicon.html" %}
  {% include "includes/og.html" %}
  {% include 'includes/twitter_cards.html' %}
  {% include 'includes/rss.html' %}
  {% block meta %}
    <meta name="author" content="{{ AUTHOR }}"/>
  {% endblock %}
  {% block main_css%}<link rel="stylesheet" href="{{ MAIN_SITEURL }}/theme/css/style.css" type="text/css"/>{% endblock %}
</head>
<body>
{% block header %}{% include "includes/topbar.html" %}{% endblock %}

{% block content_container %}
  {% block content %}
  {% endblock %}
{% endblock %}
{% block after_contnet %}{% endblock %}
{% include 'includes/footer.html' %}
{#{% include 'includes/ga.html' %}#}

{% block scripts %}{% endblock %}
</body>
</html>
