{% extends "base.html" %}
{% block content %}

  <div class="articlesList">
    {% for article in (articles_page.object_list if articles_page else articles) %}
      <div class="articlePreview">
        {% if article.featured_image %}
          <img src="{{ article.featured_image | thumbnail(POST_THUMBNAIL) }}"
               alt="{{ article.title }}" class="articlePreview__image">
        {% endif %}
        <div class="articlePreview__details">
          <time class="articlePreview__date" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
          <a class="articlePreview__title" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        </div>
      </div>
    {% endfor %}
  </div>{% endblock %}