{% macro translations_for(article, class=None) %}
  {% if article.translations -%}
    {% for translation in article.translations -%}
      <a href="{{ SITEURL }}/{{ translation.url }}" {% if class %}class="{{ class }}"{% endif %}>
        {{ translation.lang | full_language_name }}
      </a>
    {%- endfor %}
  {% endif -%}
{% endmacro %}

{% macro url_if_translated(object) %}
  {% if object.translations -%}
    {{ object.url }}
  {%- endif %}
{% endmacro %}

{% macro main_to_secondary_lang(article, class=None) %}
  {% if article.translations -%}
    {% for translation in article.translations -%}
      <a href="{{ SITEURL }}/{{ translation.url }}" {% if class %}class="{{ class }}"{% endif %}>
        {{ translation.lang | translation_link_text }}
      </a>
    {%- endfor %}
  {% endif -%}
{% endmacro %}