.single-article {
  article {
    p,
    strong,
    a:not(.btn),
    s,
    i:not(.material-icons),
    li,
    abbr {
      font-size: @article-font-size;
      line-height: @article-line-height;
      font-family: @article-font-family;
    }

    p,
    a,
    s,
    i,
    li,
    abbr {
      font-weight: @article-font-weight;
    }
  }

  h1 {
    font-size: @article-title-font-size;
  }

  h1, h2, h3 {
    font-weight: bold;
  }
  .meta {
    .label,
    .published,
    .author {
      margin-right: 5px;

    }
  }
  footer.meta {
    padding: 10px 0;

    .label {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
  table {
    .table;
    .table-striped;
    .table-hover;
  }

  img {
    .img-responsive;
  }
}

.article {
  background: #ffffff;

  .after-content,
  .footer {
    background: @body-bg;
  }

  .after-content {
    padding-top: 2em;
  }
}

#available-languages {
  margin-left: 15px;
}