@font-weight-base: 400;

// Articles
@more-padding-left: 0;
@article-preview-h2-font-size: 24px;
@article-preview-max-width: 300px;

//Sidebar
@sidebar-child-menu-offset: 20px;
@sidebar-item-padding: 20px 0 20px 50px;

//Header
@header-main-page-height: 500px;
@header-category-height: 400px;
@header-article-height: @header-category-height;
//@primary: @deep-orange;
@header-padding-top: 20px;


@single-page-font-size: 2rem;

//Single Article
@article-padding: 50px 50px 0;
@article-line-height: 1.75;
@article-font-size: @single-page-font-size;
@article-font-weight: normal;
@article-font-family: 'Roboto Slab', 'Times New Roman';
@article-font-family: Roboto, Helvetica, Arial, sans-serif;

// Table of contents
@toc-font-family: 'Roboto';

@code-bock-font-size: 1.35rem;
@code-block-font-family: 'Roboto Mono', Monospaced, monospace;