@media (max-width: @screen-xs) {
  #sort-by {
    margin-top: 0;
    .btn {
      padding: 7px 8px;
      font-size: 13px;
    }
  }

  .nopadding {
    padding: 0;
  }

  .article-meta {
    padding-top: 0 !important;
    margin-top: 0;
  }

  header {
    padding-top: 20px !important;
  }

  // == Type
  h1 {
    font-size: 20px;
  }

  h2, a, p, .article-heading {
    font-size: @font-size-base-small !important;
  }
  h2{
    margin-top: 0;
    font-weight: bold;
  }

  .page-header {
    margin: 20px 0 10px;
  }
}