.articleOuter {
  background-color: #ffffff;
}

.article {
  max-width: $article-width;
  margin-left: auto;
  margin-right: auto;

  padding: $article-padding;
  line-height: 1.75;

  &__topMeta {
    font-weight: bold;
    font-size: rem($small-font-size);
  }
  &__publicationDate {
    margin-right: rem(15px);
  }
  &__translationLink {
    text-transform: uppercase;
    color: $main-color;
    text-decoration: none;
  }

  img, figure, picture {
    display: block;
    margin: rem(50px) auto
  }

  figure {
    img, picture {
      margin: 0;
    }
  }
}

.afterArticle {
  @include make-row($page-content-width)
}

.comments {
  margin: 15px 0;
  background: none !important;
  textarea, .textarea, input {
    background: none !important;
  }
}

.tags {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;

  &__tagItem {
    cursor: pointer;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
  }

  &__tagLink {
    padding: rem($tags-font-size/2) rem($tags-font-size);
    text-decoration: none;
    color: #ffffff;
    font-size: rem($tags-font-size);
    line-height: 1;

    background-color: $tags-bg;

    &:hover {
      background-color: darken($tags-bg, 30);
    }
    &:before {
      content: '#';
    }
  }
}