@import "../../node_modules/flexbox-grid-sass/src/flexbox-grid";

.grid {
  @include variant('articles-list') {
    margin: rem($top-nav-height) auto 0;
    width: 100%;
    max-width: $articles-list-grid-width;
    @media (min-width: $sm-screen-min) {
      margin-top: rem($top-nav-height);
    }
    @media (max-width: $sm-screen-min) {
      margin-top: rem($top-nav-height * 0.75);
    }
  }
}

.col {
  @include variant('no-vert-gutter') {
    padding-top: 0;
    padding-bottom: 0;
  }
}