// == Responsive utils

@mixin make-row($size: 100%) {
  position: relative;
  margin: 0 auto;
  max-width: $size;
}

@mixin make-full-width($width) {
  margin-left: calc(-100vw / 2 + #{$width} / 2);
  margin-right: calc(-100vw / 2 + #{$width} / 2);
}

@mixin column($width: 100%, $gutter: null, $max-width: null) {
  position: relative;
  float: left;
  width: $width;
  max-width: $max-width;
  display: block;
  padding-left: $gutter;
  padding-right: $gutter;
  min-height: 1px;
}

// == Visibility utils ==

@mixin hidden-up($width) {
  @media (min-width: $width) {
    display: none !important;
  }
}

@mixin hidden-down($width) {
  @media (max-width: $width) {
    display: none !important;
  }
}

// == Material design ==

%md-shadow-1 {
  box-shadow: $md-shadow-1;
}

%md-shadow-2 {
  box-shadow: $md-shadow-2;
}

%md-shadow-3 {
  box-shadow: $md-shadow-3;
}

%md-shadow-4 {
  box-shadow: $md-shadow-4;
}

%md-shadow-4 {
  box-shadow: $md-shadow-4;
}

// == Images ==

%responsive-img {
  display: inline-block;
  max-width: 100%;
}

// == Tables ==

%table-cell {
  padding: rem($table-cell-padding);
  box-sizing: border-box;
  text-align: left;
}