.topNav {
  @include make-row();
  @extend %md-shadow-2;
  line-height: 1;
  padding: 0 $top-nav-horizontal-padding;
  height: rem($top-nav-height);
  font-family: $base-font-family;
  font-size: rem($top-nav-font-size);
  background-color: $top-nav-bg;
  color: $top-nav-color;
  font-weight: $normal-font-weight;

  &__container {
    @include make-row($lg-screen-min);
  }
  &__title {
    display: inline;
    float: left;
    padding: rem($top-nav-vertical-padding) $top-nav-horizontal-padding rem($top-nav-vertical-padding) 0;
    font-weight: 700;
    color: $top-nav-color;
  }
  &__menu {
    display: inline;
    margin-top: 0;
    padding: 0;

    @media (max-width: $sm-screen-min) {
      display: none;
    }

    &--left {
      float: left;
    }
    &--right {
      float: right;
    }
  }
  &__menuItem {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    float: left;

    &--active {
      background-color: transparentize($top-nav-active-bg, 0.83);
    }
    &:hover {
      background-color: transparentize($top-nav-active-bg, 0.90);
    }

  }
  &__menuItemLink {
    text-decoration: none;
    color: $top-nav-color;
    padding: rem($top-nav-vertical-padding) $top-nav-menu-item-horizontal-padding;
    display: inline-block;
  }
}