.topNav {
  @include make-row();
  @extend %md-shadow-2;
  line-height: 1;
  padding: 0 $topNavHorizontalPadding;
  height: rem($topNavHeight);
  font-family: $base-font-family;
  font-size: rem($topNavFontSize);
  background-color: $topNavBg;
  color: $topNavColor;
  font-weight: $base-font-weight;

  &__container {
    @include make-row($large-screen-min);
  }
  &__title {
    display: inline;
    float: left;
    padding: rem($topNavVerticalPadding) $topNavHorizontalPadding rem($topNavVerticalPadding) 0;
    font-weight: 700;
  }
  &__menu {
    display: inline;
    margin-top: 0;
    padding: 0;

    @media (max-width: $small-screen-min) {
      display: none;
    }

    &--left {
      float: left;
    }
    &--right {
      float: right;
    }
  }
  &__menuItem {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    float: left;

    &--active {
      background-color: transparentize($topNavActiveBg, 0.83);
    }
    &:hover {
      background-color: transparentize($topNavActiveBg, 0.90);
    }

  }
  &__menuItemLink {
    text-decoration: none;
    color: $topNavColor;
    padding: rem($topNavVerticalPadding) $topNavMenuItemHorizontalPadding;
    display: inline-block;
  }
}