@import "core";
@import "images";
@import "grid";
@import "pagination";

.articlesList {
  &__title {
    display: block;
    font-weight: 400;
    font-size: $h2-font-size;
    margin-top: 0;
  }
  .articlePreview {
    @extend %md-shadow-2;

    background-color: #ffffff;

    &:not(:last-child){
      margin-bottom: rem(25px);
    }

    &__details {
      padding: 0 15px 15px;
    }
    &__image {
      margin: 0 0 10px 0;
      vertical-align: top;
    }
    &__date {
      color: $text-muted;
      font-size: $small-font-size;
    }
    &__title {
      margin-top: 5px;
      display: inline-block;
      width: 100%;
      font-size: rem($h3-font-size);
      font-weight: 400;
    }
  }
}

.sidebar {
  padding-left: 30px;

  &__heading {
    font-size: rem($small-font-size);
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    color: $text-muted;

  }

  .sidebarMenu {
    margin: 0;
    padding: 0;

    &__item {
      list-style-type: none;
      display: block;
    }

    &__link {
      padding: 20px 0 20px 20px;
      width: 100%;
      display: block;
      font-size: $small-font-size;
    }

    &__link--active {
      background-color: darken($body-bg, 3%);
    }

    &__link:hover {
      background-color: darken($body-bg, 1%);
    }
  }
}