<div class="post-info vert-offset-bottom-1">
    <span class="published text-muted">
        <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        {% trans %}в категорії{% endtrans %}&nbsp;
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    </span>
    {% if SHOW_DATE_MODIFIED %}
        {% if article.modified %}
            <span class="label label-default">Modified</span>
            <span class="modified">
                <i class="material-icons">event</i>
                <time datetime="{{ article.modified.isoformat() }}"> {{ article.locale_modified }}</time>
            </span>
        {% endif %}
    {% endif %}
    {% if SHOW_ARTICLE_AUTHO %}
        {% if article.author %}
            <span class="author">
        <a href="{{ SITEURL }}/pages/about.html"><i class="material-icons">account_circle</i> {{ article.author }}</a>
        </span>
        {% endif %}
    {% endif %}
    {% if PDF_PROCESSOR %}
        <span class="label label-default">
            <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a>
        </span>
    {% endif %}

    {% import 'includes/translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
</div><!-- /.post-info -->
