<div class="sidebar">
  <div class="sidebar__heading">topics</div>
  <menu class="sidebarMenu">
    <li class="sidebarMenu__item">
      <a href="/{{ DEFAULT_LANG }}" class="sidebarMenu__link">{% trans %}All topics{% endtrans %}</a>
    </li>
    {% for topic, null in categories %}
      <li class="sidebarMenu__item">
        <a href="{{ SITEURL }}/{{ topic.url }}"
           class="sidebarMenu__link {% if topic == category -%}sidebarMenu__link--active{%- endif %}">{{ topic }}</a>
      </li>
    {% endfor %}
  </menu>
</div>