<nav class="topNav">
  <div class="topNav__container">
    <span class="topNav__title">Anton Linevych's Blog</span>
    <menu class="topNav__menu topNav__menu--left">
      <li class="topNav__menuItem topNav__menuItem--active"><a href="#1" class="topNav__menuItemLink">Home</a>
      <li class="topNav__menuItem"><a href="#2" class="topNav__menuItemLink">About me</a>
    </menu>
    <menu class="topNav__menu topNav__menu--right">
      <li class="topNav__menuItem"><a href="#1" class="topNav__menuItemLink">Archive</a>
      <li class="topNav__menuItem"><a href="#2" class="topNav__menuItemLink">uk</a>
      <li class="topNav__menuItem"><a href="#3" class="topNav__menuItemLink">en</a>
    </menu>
  </div>
</nav>